.card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding-top: 5%;
}

.card-inside {
  background-color: black;
  opacity: 0.8;
  flex-basis: 80%;
  justify-content: center;
}

table {
  width: 100%;
  max-height: 60%;
}

.button {
  text-align: right;
  margin: 5px;
}
