<div class="card">
  <div class="card-inside">
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="departmentsList" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->
        <!-- Name Column -->
        <ng-container matColumnDef="departmentName">
          <th mat-header-cell *matHeaderCellDef> Department Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="budget">
          <th mat-header-cell *matHeaderCellDef> Budget </th>
          <td mat-cell *matCellDef="let element"> {{element.budget}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef style="text-align:right"> <button mat-raised-button color="primary" (click)="onAddDepartment()">Add Department</button></th>
          <td mat-cell *matCellDef="let element" style="text-align:right">
            <button mat-raised-button (click)="onEdit(element.departmentId)">Edit</button>
            <button mat-raised-button color="warn" (click)="onDelete(element.departmentId)">Delete</button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
      <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>
