
<div class="card">
  <div class="card-inside">
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="courseList" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
  The actual rendered columns are set as a property on the row definition" -->
        <!-- Name Column -->
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef> Title </th>
          <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="credits">
          <th mat-header-cell *matHeaderCellDef> Credits </th>
          <td mat-cell *matCellDef="let element"> {{element.credits}} </td>
        </ng-container>

        <ng-container matColumnDef="department">
          <th mat-header-cell *matHeaderCellDef> Department </th>
          <td mat-cell *matCellDef="let element"> {{element.departmentName}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef style="text-align:right"> <button mat-raised-button color="primary" (click)="onAddCourse()">Add Course</button></th>
          <td mat-cell *matCellDef="let element" style="text-align:right">
            <button mat-raised-button (click)="onEdit(element.courseId)">Edit</button>
            <button mat-raised-button color="warn" (click)="onDelete(element.courseId)">Delete</button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
      <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>

