
<mat-card>
  <h4> Add Instructor</h4>
  <div class="example-container">
    <mat-form-field hintLabel="Min 3 characters">
      <input [(ngModel)]="instructorModel.firstMidName" minlength="3" maxlength="50" matInput placeholder="Instructor Name" required />
    </mat-form-field><br />
    <mat-form-field hintLabel="Min 3, Max 50 characters">
      <input [(ngModel)]="instructorModel.lastName" minlength="3" maxlength="50" matInput placeholder="Instructor Last Name" required />
    </mat-form-field><br />
    <mat-form-field hintLabel="Min 3, Max 50 characters">
      <input [(ngModel)]="instructorModel.officeAssignment" minlength="3" maxlength="50" matInput placeholder="Instructor Location" required />
    </mat-form-field><br />
    <mat-form-field>
      <mat-label>Courses</mat-label>
      <mat-select [(ngModel)]="instructorModel.courseAssignments" multiple>
        <mat-option *ngFor="let course of courses" [value]="course">{{course.title}}</mat-option>
      </mat-select>
    </mat-form-field><br />
    <owl-form-field hintLabel="Please choose date">
      <input owlInput [owlDateTime]="dt1" [(ngModel)]="instructorModel.HireDate" [owlDateTimeTrigger]="dt1" placeholder="Choose Hire date" required>
      <owl-date-time #dt1></owl-date-time>
    </owl-form-field>

  </div>
</mat-card>
<div class="button">
  <button  mat-raised-button color="primary" (click)="onAddInstructor()">Add your instructor!</button>
</div>

