<mat-card>
  <h4> Are you sure, that you want to delete this instructor? </h4>
  <mat-list>
    <h3 mat-subheader><b>Instructor ID</b></h3>
    <mat-list-item>{{instructor.id}}</mat-list-item>
    <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
    <h3 mat-subheader><b>Instructor Name</b></h3>
    <mat-list-item>{{instructor.fullName}}</mat-list-item>
    <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
    <h3 mat-subheader><b>Instructor's Courses</b></h3>
    <mat-list-item *ngFor="let i of instructor.courseAssignments">{{i.title}}</mat-list-item>
      <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
      <h3 mat-subheader><b>Instructor's Office</b></h3>
      <mat-list-item>{{instructor.officeAssignment}}</mat-list-item>
      <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
  </mat-list>
  <div class="button">
    <button mat-raised-button color="warn" (click)="onDeleteClick()">DELETE</button>
  </div>
</mat-card>
