<mat-card>
  <h4> Are you sure, that you want to delete this department? </h4>
  <mat-list>
    <h3 mat-subheader><b>Department ID</b></h3>
    <mat-list-item>{{department.departmentId}}</mat-list-item>
    <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
    <h3 mat-subheader><b>Department Name</b></h3>
    <mat-list-item>{{department.name}}</mat-list-item>
    <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
    <h3 mat-subheader><b>Administrator Name</b></h3>
    <mat-list-item>{{department.administratorName}}</mat-list-item>
    <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
  </mat-list>
  <div class="button">
    <button mat-raised-button color="warn" (click)="onDeleteclick(department.departmentId)">DELETE</button>
  </div>
</mat-card>
