<mat-card>
  <h4> Edit Department</h4>
  <div class="example-container">
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input [(ngModel)]="department.name" name="departmentName" matInput placeholder="Department Name">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input [(ngModel)]="department.budget" name="departmentBudget" matInput type="number" placeholder="Budget">
      </mat-form-field>
      <owl-form-field>
        <input [(ngModel)]="department.startDate" name="departmentStartDate" owlInput [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder="Start Date" >
        <owl-date-time #dt1></owl-date-time>
      </owl-form-field>
      <owl-form-field>
        <owl-select [(ngModel)]="department.instructorId" name="departmentInstructor" placeholder="Administrator of this department" >
          <owl-option *ngFor="let element of instructors" [value]="element.id"> {{element.fullName}}</owl-option>
        </owl-select>
      </owl-form-field>
    </form>
  </div>
</mat-card>
<div class="button">
  <button mat-raised-button color="primary" (click)="onEditClick(department.departmentId)">Edit department!</button>
</div>
