<mat-card>
  <h4> Are you sure, that you want to delete this student? </h4>
  <mat-list>
    <h3 mat-subheader><b>Course ID</b></h3>
    <mat-list-item>{{course.courseId}}</mat-list-item>
    <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
    <h3 mat-subheader><b>Title of the course</b></h3>
    <mat-list-item>{{course.title}}</mat-list-item>
    <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
    <h3 mat-subheader><b>Department of the course</b></h3>
    <mat-list-item>{{course.departmentName}}</mat-list-item>
  </mat-list>
  <div class="button">
    <button mat-raised-button color="warn" (click)="onDeleteClick()">DELETE</button>
  </div>
</mat-card>
