.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

mat-form-field {
  margin-right: 12px;
}
.example-button-row button,
.example-button-row a {
  margin: 10px;
  text-align: right;
}
.button {
  margin: 5px;
  text-align: right;
}
.checkbox {
  display: flex;
}
