<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <b>Personal Data</b>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-form-field class="example-full-width">
      <input [(ngModel)]="student.firstMidName" matInput placeholder="{{student.firstMidName}}" />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input [(ngModel)]="student.lastName" matInput placeholder="{{student.lastName}}" />
    </mat-form-field>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <b>Enrollment</b>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list>
      <mat-list-item><b>Enrollment Date</b></mat-list-item>
      {{student.enrollmentDate}}
      <mat-divider></mat-divider>

      <mat-list-item><b>Courses</b></mat-list-item>
      <div *ngFor="let course of student.courses; index as i">
        {{course.title}}
      </div>
    </mat-list>
    
  </mat-expansion-panel>
</mat-accordion>
<section class="example-section">
  <h3 mat-subheader><b>Student's Courses</b></h3>
    <mat-checkbox *ngFor="let course of courses" class="example-margin" [checked]="course.flag" (click)="ChoosenCourse(course.courseId, student.id, course.flag)">{{course.title}}</mat-checkbox>
</section>
<div class="button">
  <button mat-raised-button color="primary" (click)="onEditClick(student.id)">SAVE</button>
  <button mat-raised-button color="warn" (click)="onDelete(student.id)">DELETE</button>
</div>
