<mat-card>
  <h4> Edit Course</h4>
  <div class="example-container">
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input [(ngModel)]="course.title" name="courseTitle" matInput placeholder="Title">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input [(ngModel)]="course.credits" name="courseCredits" matInput type="number" placeholder="Credits">
      </mat-form-field>
      <owl-form-field>
        <owl-select [(ngModel)]="course.departmentId" name="courseDepartment" placeholder="Department of this course">
          <owl-option *ngFor="let element of departments" [value]="element.departmentId"> {{element.name}}</owl-option>
        </owl-select>
      </owl-form-field>
    </form>
  </div>
</mat-card>
<div class="button">
  <button mat-raised-button color="primary" (click)="onEditClick()">Edit course!</button>
</div>
