
<mat-card>
  <h4> Edit {{instructor.fullName}}</h4>
  <div class="example-container">
    <mat-form-field hintLabel="Min 3 characters">
      <input [(ngModel)]="instructor.firstMidName" minlength="3" maxlength="50" matInput placeholder="Instructor Name"  />
    </mat-form-field><br />
    <mat-form-field hintLabel="Min 3, Max 50 characters">
      <input [(ngModel)]="instructor.lastName" minlength="3" maxlength="50" matInput placeholder="Instructor Last Name" />
    </mat-form-field><br />
    <mat-form-field hintLabel="Min 3, Max 50 characters">
      <input [(ngModel)]="instructor.officeAssignment" minlength="3" maxlength="50" matInput placeholder="Instructor Location" />
    </mat-form-field><br />

    <owl-form-field hintLabel="Please choose date">
      <input owlInput [owlDateTime]="dt1" [(ngModel)]="instructor.HireDate" [owlDateTimeTrigger]="dt1" placeholder="Choose Hire date" >
      <owl-date-time #dt1></owl-date-time>
    </owl-form-field><br/>
    <section class="example-section">
      <h4 mat-subheader>Instructor's Courses</h4>
      <mat-checkbox *ngFor="let course of courses" class="example-margin" [checked]="course.flag" (click)="ChoosenCourse(course.courseId, instructor.id, course.flag)">{{course.title}}</mat-checkbox>
    </section>
  </div>
</mat-card>
<div class="button">
  <button mat-raised-button color="primary" (click)="onSave()">Save your instructor!</button>
</div>
