
<mat-card>
  <h4> Add Student</h4>
  <div class="example-container">
    <mat-form-field hintLabel="Min 3 characters">
      <input [(ngModel)]="studentModel.firstMidName" minlength="3" maxlength="50" matInput placeholder="Student Name" required />
    </mat-form-field><br />
    <mat-form-field hintLabel="Min 3, Max 50 characters">
      <input [(ngModel)]="studentModel.lastName" minlength="3" maxlength="50" matInput placeholder="Student Last Name" required />
    </mat-form-field><br />
    <owl-form-field hintLabel="Please choose date">
        <input owlInput [owlDateTime]="dt1" [(ngModel)]="studentModel.EnrollmentDate" [owlDateTimeTrigger]="dt1" placeholder="Choose enrollment date" required>
        <owl-date-time #dt1></owl-date-time>
    </owl-form-field>

  </div>
</mat-card>
<div class="button">
  <button [disabled]="isDisabledButton(studentModel)" mat-raised-button color="primary" (click)="onAddStudent()">Add your student!</button>
</div>
