<mat-card>
  <h4> Are you sure, that you want to delete this student? </h4>
  <mat-list>
    <h3 mat-subheader><b>Student ID</b></h3>
    <mat-list-item>{{student.id}}</mat-list-item>
    <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
    <h3 mat-subheader><b>Student Name</b></h3>
    <mat-list-item>{{student.firstMidName}} {{student.lastName}}</mat-list-item>
    <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
  </mat-list>
  <div class="button">
    <button mat-raised-button color="warn" (click)="onDeleteClick(student.id)">DELETE</button>
  </div>
</mat-card>
