<mat-card>
  <h4> Add Department</h4>
  <div class="example-container">
    <mat-form-field>
      <input [(ngModel)]="departmentModel.name" matInput placeholder="Department Name" required />
    </mat-form-field>
    <mat-form-field>
      <input [(ngModel)]="departmentModel.budget" matInput type="number" placeholder="Budget" required />
    </mat-form-field>

    <owl-form-field>
      <input owlInput [owlDateTime]="dt1" [(ngModel)]="departmentModel.startDate" [owlDateTimeTrigger]="dt1" placeholder="Choose date" required>
      <owl-date-time #dt1></owl-date-time>
    </owl-form-field>
    <owl-form-field>
      <owl-select [(ngModel)]="departmentModel.instructorId" placeholder="Choose Administrator of this department" required>
        <owl-option *ngFor="let element of instructors" [value]="element.id"> {{element.fullName}}</owl-option>
      </owl-select>
    </owl-form-field>

  </div>
</mat-card>
<div class="button">
  <button mat-raised-button color="primary" (click)="onAddDepartment()">Add your department!</button>
</div>
