<mat-card>
  <h4> Add Course</h4>
  <div class="example-container">
    <mat-form-field>
      <input [(ngModel)]="courseModel.title" matInput placeholder="Course Title" required />
    </mat-form-field>
    <mat-form-field>
      <input [(ngModel)]="courseModel.credits" type="number" matInput placeholder="Credits" required />
    </mat-form-field>
    <owl-form-field>
      <owl-select [(ngModel)]="courseModel.departmentId" name="department" placeholder="Choose department">
        <owl-option *ngFor="let element of departments" [value]="element.departmentId"> {{element.name}}</owl-option>
      </owl-select>
    </owl-form-field>

  </div>
</mat-card>
<div class="button">
  <button mat-raised-button color="primary" (click)="onAddCourse()">Add your course!</button>
</div>
